<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {
        background-color: rgb(215, 235, 240);
        text-align: center;
    }
    
</style>



<div class="alert alert-info ">
    Are you sure you want to delete <strong>"{{ task }}?"</strong>
    <br>

    <a class="btn btn-outline-info btn-sm" href="{% url 'index' %}">Cancel</a>

    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="Confirm" value="Delete" class="btn btn-sm btn-danger">
    </form>
</div>